<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Página no encontrada</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <style>
        body { display: flex; align-items: center; justify-content: center; text-align: center; }
        h1 { font-size: 8rem; color: var(--azul); line-height: 1; margin-bottom: 0; }
        p { font-size: 1.5rem; color: #777; margin-bottom: 30px; }
    </style>
</head>
<body>
    <div class="container">
        <h1>404</h1>
        <p>Ups... Nos perdimos en el mapa.</p>
        <a href="/" class="btn-login">Volver al Inicio</a>
    </div>
</body>
</html>